@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html{
    scroll-behavior: smooth;
    background-image: url(img/trees.jpg);
    background-size: cover;
}

body{
    margin: 0;
    padding-top: 80px;
}

.images{
    background-color: #A67761;
    display: inline-block;
    height: 130px;
}

.images img:hover{
    opacity: .5;
}

#nav{
    display: grid;
    grid-template-columns: auto 70%;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(200, 206, 212, .8);
    color: #A67761;
    top: 0;
    position: fixed;
    width: 100%;
}

#william{
    font-size: 60px;
    text-align: left;
    padding-left: 10px;
}

#nav #links{
    text-align: right;
    font-size: 30px;
    padding-right: 10px;
    margin: auto 0 auto auto;
}


h1{
    Font-family: 'Amatic SC', cursive;
    color: #a67761;
    margin: 0;
}

h2{
    Font-family: 'Amatic SC', cursive;
    color: #a67761;
    padding: 10px 0px 0px 5px;
    margin: 0px;
}

a{
    color: #A67761;
    text-decoration: none;
}

.sections{
    background-color: rgba(200, 206, 212, .8);
    border-radius: 15px;
    max-width: 800px;
    margin: 5px auto;
    padding: 5px;
}
.images{
    border-radius: 15px;
}

.characters{
    display: grid;
    grid-template-columns: 80% auto;
    padding: 0 0 0 20px;
    text-align: justify;
    max-width: 800px;
}
.characterimages{
    height: 250px;
    margin: auto;
}

#footer{
    display: grid;
    grid-template-columns: 50% auto;    
}
#tori{
    display: grid;
    grid-template-columns: 62% 1fr;
}
#bottomlinks{
    grid-column: 2/3;
    text-align-last: right;
    margin: auto 10px auto auto;
    color: #C8CED4;
    font-size: 40px;
}
#namebottom{
    font-family: "Amatic SC", cursive;
    color: #C8CED4;
    font-size: 40px;
    text-align: left;
    margin-left: 10px;
}